#login {
    position: fixed;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    
    .wrapper {
        padding: 30px;
        width: 530px;
        // height: 650px;
        background-color: var(--background_color_main);
        border-radius: 8px;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            height: 40px;
            width: auto;
            margin-top: 30px;
        }

        h2 {
            text-align: center;
            margin: 12px 0;
            font-size: 25px;
            font-weight: 700;
            line-height: 40px;
        }

        p {
            text-align: center;
            font-size: 12px;
            color: rgb(243, 58, 88);
            padding: 0 15px;
        }
        
    }

    .login_container {
        margin: 20px 54px 12px 54px;
        padding: 12px 0;
    }

    .box {
        display: flex;
        align-items: center;
        background-color: var(--white);
        border-color: var(--button-color);
        justify-content: space-between;
        border-radius: 44px;
        overflow: hidden;
    }

    .box_input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
            flex: 1;
            height: 44px;
            border: none;
            outline: none;
            background-color: transparent;
            padding: 0 15px;
            letter-spacing: 1.1px;
        }

        i {
            margin-right: 20px;
            color: black;
        }

        .password {
            margin-top: 20px;
            i {
                cursor: pointer;
            }
        }
    }

    .sub {
        display: flex;
        margin-top: 20px;
        padding-bottom: 8px;
        flex-direction: row;
        justify-content: space-between;

        span {
            font-size: 14px;
        }

        .remember {
            input {
                margin-right: 3px;
            }
        }

        .forgot {
            a {
                font-size: 14px;
            }

            a:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .login {
        cursor: not-allowed;
        margin-top: 20px;
        .box {
        background-color: var(--button-color);
        }
        h4 {
            line-height: 44px;
            text-align: center;
            width: 100%;
            color: var(--white);
            font-weight: 600;
            user-select: none;
        }
    }

    .sign_up {
        margin-top: 10px;
        padding-top: 24px;
        p {
            text-align: center;
        }

        a {
            color: var(--primary-color);
            text-decoration: underline;
        }
    }

    .footer {
        margin: 16px 54px;
        p, a {
            font-size: 11px;
            color: #666;
            text-align: center;
        }
        a {
            text-decoration: underline;
        }
    }

}