#header {
    position: fixed;
    top: 0;
    background-color: var(--layout-header-bg);
    margin-left: var(--slidebar_left_width);
    padding: 0 59px;
    width: calc(100% - var(--slidebar_left_width));
    height: 70px;
    .wrapper {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .left_box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .direct {
        button {
            background-color: transparent;
            margin-right: 20px;
            i {
                font-size: 22px;
                font-weight: 300;
                color: #646464;
            }
        }

    }
    
    .search {
        background-color: var(--alpha-bg);
        border-radius: 20px;
        max-width: 440px;
        width: 440px;
        display: flex;
        align-items: center;
        i {
            margin: 0 13px;
        }
        input {
            background-color: transparent;
            height: 40px;
            width: 95%;
            color: var(--white);
        }

        .delete_input {
            margin-right: 18px;
            cursor: pointer;
        }
    }

    .right_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        .setting {
            cursor: pointer;
        }
        .user_avatar {
            width: 38px;
            height: 38px;
            overflow: hidden;
            border-radius: 50%;
            cursor: pointer;
            img {
                width: 100%;
                height: auto;
            }
        }

        .setting {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--alpha-bg);
        }
    }

    button + button {
        margin: 12px;
    }
}