* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Inter;
  src: url(../../../assets/fonts/inter/inter_Inter-Italic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Inter;
  src: url(../../../assets/fonts/inter/inter_Inter-MediumItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Inter;
  src: url(../../../assets/fonts/inter/inter_Inter-SemiBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url(../../../assets/fonts/inter/inter_Inter-SemiBoldItalic.woff);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Zingmp3_font;
  src: url(../../../assets/fonts/inter/mp3-zing.2a3edced.woff);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Inter', sans-serif;
  --white: #fff;
  --primary-color: #f05123;
  --background_color_slidebar: hsla(0,0%,100%,0.05);
  --slidebar_left_width: 240px;
  --button-color: #1dbfaf;
  --background_color_main: #170f23;
  --border-player: hsla(0,0%,100%,0.1);
  --player-bg: #130c1c;
  --link-text-hover: #c273ed;
  --black: #000;
  --text-secondary: hsla(0,0%,100%,0.5);
  --alpha-bg: hsla(0,0%,100%,0.1);
}

h1, h2, h3, h4, a, p, span, i {
  color: #dadada;
  font-weight: 400;
  letter-spacing: normal;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  text-overflow: clip;
  overflow: visible;
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

li {
  list-style: none;
}

button, input {
  border: none;
  outline: none;
}

a[href] {
  text-decoration: none;
  font-size: 14px;
}

#main {
  background-color: var(--background_color_main);
  height: 1000px;
}

#header {
  margin-left: var(--slidebar_left_width);
  position: fixed;
  top: 0;
  padding: 0 59px;
  height: 70px;
}
#header .wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}
#header .direct button {
  background-color: transparent;
  margin-right: 20px;
}
#header .direct button i {
  font-size: 24px;
  font-weight: 300;
}
#header .search {
  background-color: var(--alpha-bg);
  border-radius: 20px;
  max-width: 440px;
  width: 440px;
  display: flex;
  align-items: center;
}
#header .search i {
  margin: 0 13px;
}
#header .search input {
  background-color: transparent;
  height: 40px;
  width: 95%;
  color: var(--white);
}

#control_player_container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 90px;
  padding: 0 20px;
  border-top: 1px solid var(--border-player);
  background-color: #ffdb00;
  background-color: var(--player-bg);
}
#control_player_container .wrapper {
  height: 100%;
}
#control_player_container .player_control_left {
  height: 100%;
}
#control_player_container .player_control_left .media {
  display: flex;
  align-items: center;
  height: 100%;
}
#control_player_container .player_control_left .media_left {
  width: 64px;
  height: 64px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#control_player_container .player_control_left .media_left img {
  height: 64px;
  width: auto;
}
#control_player_container .player_control_left .media_infor {
  display: flex;
  flex-direction: column;
}
#control_player_container .player_control_left .media_infor a {
  color: var(--text-secondary);
  font-size: 12px;
}
#control_player_container .player_control_left .media_infor a:hover {
  color: var(--link-text-hover);
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
