@charset "UTF-8";
#box_placeholder_left_slidebar {
  width: 240px;
  height: 100%;
  background-color: transparent;
}

#left_slidebar {
  --link-text-hover: #c273ed;
  --text-item-hover: #fff;
  position: fixed;
  height: calc(100% - var(--control_player_height));
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: var(--slidebar_left_width);
  background-color: var(--background_color_slidebar);
}
#left_slidebar .top_menu {
  margin-bottom: 16px;
}
#left_slidebar .logo {
  padding: 0px 28px 0px 25px;
}
#left_slidebar .logo img {
  width: 120px;
  height: 40px;
  margin: 13px 3px;
}
#left_slidebar .item_menu {
  align-items: center;
}
#left_slidebar .item_menu i:first-child, #left_slidebar .item_menu svg:first-child {
  margin-right: 12px;
  font-size: 18px;
}
#left_slidebar .item_menu i:last-child, #left_slidebar .item_menu svg:last-child {
  right: 0;
  font-size: 18px;
  display: none;
}
#left_slidebar .item_menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 21px 12px 24px;
  line-height: 20px;
  cursor: pointer;
}
#left_slidebar .item_menu h3 {
  font-size: 14px;
  font-weight: 400;
}
#left_slidebar .item_menu .sub {
  display: flex;
  align-items: center;
}
#left_slidebar .active {
  background-color: rgba(254, 255, 255, 0.1);
  border-left: 3px solid #b06ad6;
}
#left_slidebar .active h3 {
  color: var(--text-item-hover);
  font-weight: 500;
}
#left_slidebar .active svg {
  color: var(--text-item-hover);
  font-weight: 500;
}
#left_slidebar .active a {
  padding-left: 21px;
}
#left_slidebar .live {
  background-color: red;
  font-size: 10px;
  padding: 5px 5px;
  transform: scaleY(0.8);
  font-weight: 500;
  color: #fff;
  margin-top: -5px;
  margin-left: 8px;
  line-height: normal;
  border-radius: 5px;
  text-transform: uppercase;
}
#left_slidebar a:hover h3 {
  color: var(--text-item-hover);
}
#left_slidebar a:hover i:last-child {
  display: block;
}
#left_slidebar .sidebar-divide {
  height: 0.5px;
  margin: 0 21px 0 24px;
  background-color: rgba(254, 255, 255, 0.1);
}
#left_slidebar .second_menu {
  overflow: hidden auto;
  flex: 1;
}
#left_slidebar .second_menu .main_menu {
  margin-top: 16px;
}
#left_slidebar .second_menu .ads {
  background-color: #9b4de0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 8px;
  border-radius: 8px;
  margin: 15px 20px;
}
#left_slidebar .second_menu .ads p {
  margin-bottom: 10px;
  text-align: center;
  color: var(--white);
  font-size: 12px;
  line-height: 1.67;
  font-weight: 600;
}
#left_slidebar .second_menu .ads a {
  color: var(--white);
  border-radius: 15px;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  cursor: pointer;
  line-height: 15px;
}
#left_slidebar .second_menu .ads a:hover {
  opacity: 0.9;
}
#left_slidebar .second_menu .upgrade {
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}
#left_slidebar .second_menu .upgrade a {
  background-color: #ffdb00;
  border-color: #ffdb00;
  color: var(--black);
  padding: 6px 16px;
}
#left_slidebar .second_menu .personal_menu_playlist ul li {
  margin-left: 3px;
  padding: 0 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#left_slidebar .second_menu .personal_menu_playlist ul a {
  padding: 12px 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#left_slidebar .second_menu .personal_menu_playlist ul li:hover i {
  display: block;
}
#left_slidebar .second_menu .personal_menu_playlist ul i {
  cursor: pointer;
  display: none;
}
#left_slidebar .second_menu .personal_menu_playlist ul svg {
  margin-right: 12px;
}
#left_slidebar .second_menu ul.navbar_menu {
  margin-bottom: 16px;
}
#left_slidebar .second_menu ul.library_personal {
  margin-top: 16px;
}
#left_slidebar .second_menu::-webkit-scrollbar {
  width: 0px;
  /* Độ rộng của thanh cuộn */
}
#left_slidebar .add_new_playlist {
  padding: 0 24px;
  border-top: 1px solid var(--border-primary);
}
#left_slidebar .add_new_playlist .add_new_playlist_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 54px;
  cursor: pointer;
}
#left_slidebar .add_new_playlist i {
  font-size: 16px;
  margin-right: 12px;
  padding: 4px 5px;
}
#left_slidebar .add_new_playlist span {
  font-size: 14px;
}

@media only screen and (max-width: 1134px) {
  #box_placeholder_left_slidebar {
    width: 70px;
  }

  #left_slidebar {
    width: 70px !important;
  }
  #left_slidebar .live, #left_slidebar .upgrade, #left_slidebar h3, #left_slidebar span, #left_slidebar .wrapper {
    display: none !important;
  }
  #left_slidebar a:hover i:last-child {
    display: none;
  }

  #header {
    width: calc(100% - 70px) !important;
    padding: 0 23px !important;
  }
}

/*# sourceMappingURL=leftSlidebar.css.map */
