#box_placeholder_left_slidebar {
    width: 240px;
    height: 100%;
    background-color: transparent;
}

#left_slidebar {
    //dat bien
    --link-text-hover: #c273ed;
    --text-item-hover: #fff;
    --left-slidebar-rps-width: 70px;

    position: fixed;
    height: calc(100% - var(--control_player_height));
    display: flex;
    flex-direction: column;
    z-index: 999;
    // max-height: calc(100vh - 90px);
    top: 0;
    left: 0;
    width: var(--slidebar_left_width);
    background-color: var(--background_color_slidebar);
    .wrapper {
    }

    .top_menu {
        margin-bottom: 16px;
    }

    .logo {
        padding: 0px 28px 0px 25px;
        display: flex;
        align-items: center;
        img {
            width: autp;
            height: 35px;
            margin: 13px 3px;
        }
    }

    .item_menu {
        align-items: center;
        a {
            display: flex;
            align-items: center;
            padding: 12px 21px 12px 24px;
            line-height: 20px;
            cursor: pointer;
        }
        a:hover i:last-child{
            display: block;
        }

        a:hover svg{
            color: var(--white);
        }

        a:hover h3{
            color: var(--white);
        }

        i:last-child {
            display: none;
        }

        svg {
            margin-right: 12px;
        }

        h3 {
            font-size: 14px;
            font-weight: 400;
        }

        .sub {
            flex: 1;
        }

        .sub_wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                flex-direction: row;
            }
        }

    }
    .active{
        background-color: rgba(254,255,255,0.1);
        border-left: 3px solid #b06ad6;
        h3 {
            color: var(--text-item-hover);
            font-weight: 500;
        }
        svg {
            color: var(--text-item-hover);
            font-weight: 500;
        }

        a {
            padding-left: 21px;
        }
    }

    .status_icon {
        background-color: red;
        font-size: 10px;
        padding: 5px 5px;
        transform: scaleY(0.8);
        font-weight: 500;
        color: #fff;
        height: 22px;
        margin-top: -6px;
        margin-left: 8px;
        line-height: normal;
        border-radius: 5px;
        text-transform: uppercase;
    }

    .sidebar-divide {
        height: 0.5px;
        margin: 0 21px 0 24px;
        background-color: rgba(254,255,255,0.1);
    }

    .second_menu {
        overflow: hidden auto;
        flex: 1;
        .main_menu {
            margin-top: 16px;
        }

        .ads {
            // width: 200px;
            background-color: #9b4de0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 15px 8px;
            border-radius: 8px;
            margin: 15px 20px;

            p {
                margin-bottom: 10px;
                text-align: center;
                color: var(--white);
                font-size: 12px;
                line-height: 1.67;
                font-weight: 600;
            }

            a {
                color: var(--white);
                border-radius: 15px;
                margin: 0 auto;
                padding: 6px 35px;
                font-size: 12px;
                font-weight: 600;
                border: 1px solid var(--white);
                background-color: hsla(0,0%,100%,0.1);;
                text-transform: uppercase;
                cursor: pointer;
                line-height: 15px;
                &:hover {
                    opacity: 0.9;
                }
            }
        }

        .upgrade {
            background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
            a {
                background-color: #ffdb00;
                border-color: #ffdb00;
                color: var(--black);
                padding: 6px 16px;
            }
        }

        .personal_menu_playlist {
            ul {
                li {
                    margin-left: 3px;
                    padding:  0 21px;
                }

                a {
                    padding: 12px 0;
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .sub_wrapper {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }

                li:hover i {
                    display: block;
                }

                i {
                    cursor: pointer;
                    display: none;
                }

                svg {
                    margin-right: 12px;
                }
            }
        }

        ul.navbar_menu {
            margin-bottom: 16px;
        }

        ul.library_personal {
            margin-top: 16px;
        }

        &:hover::-webkit-scrollbar-thumb {
            display: block;
        }
    }

    .second_menu::-webkit-scrollbar-thumb {
        display: none;
    }

    // .second_menu::-webkit-scrollbar {
    //     width: 0px; /* Độ rộng của thanh cuộn */
    // }

    .add_new_playlist {
        padding: 0 24px;
        border-top: 1px solid var(--border-primary);

        .add_new_playlist_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 54px;
            cursor: pointer;
        }

        .add_new_playlist_wrapper>div {
            display: flex;
            flex-direction: row;
        }

        .direct-btn {
            display: none;
        }

        i {
            font-size: 16px;
        }

        i.add-playlist {
            margin-right: 12px;
            padding: 4px 5px;
        }

        i.direct-btn {
            display: none;
            background-color: var(--alpha-bg);
            padding: 12px 15px;
            border-radius: 50%;
            // margin-left: -6px;
        }

        span {
            font-size: 14px;
        }
    }
    
}

@media only screen and (max-width: 1134px) {
    #box_placeholder_left_slidebar {
        width: 70px;
    }
    #left_slidebar {
        width: 70px;
        background-color: var(--sidebar-popup-bg);
        
        .sub, .ads_box {
            display: none; 
        }

        .add_new_playlist {
            padding: 0;
            i.add-playlist {
                display: none;
            }

            i.direct-show {
                display: block;
            }

            i.direct-close {
                display: none;
            }
        }
    }

    #header {
        width: calc(100% - 70px) !important;
        padding: 0 23px !important;
    }
}