#content {
  width: 100%;
  padding: 35px 59px;
}
#content .ads_baner {
  position: relative;
  margin: 0px auto 16px auto;
  max-height: 250px;
  max-width: 970px;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
}
#content .ads_baner img {
  width: 100%;
  height: auto;
}
#content .close_ads_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
}
#content .close_ads_btn span, #content .close_ads_btn i {
  color: var(--white);
  font-size: 12px;
}
#content .close_ads_btn i {
  padding: 1px 2px;
  border: 1px solid var(--white);
  cursor: pointer;
  margin-left: 5px;
}
#content .slider {
  padding-top: 32px;
  width: calc(100% + 30px);
  margin-left: -15px;
}
#content .slider ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#content .slider a {
  flex: 1;
  padding: 0 15px;
}
#content .slider li {
  border-radius: 15px;
  overflow: hidden;
}
#content .slider img {
  width: 100%;
  height: auto;
}
#content .default_playlist_list {
  margin-top: 48px;
  padding-bottom: 10px;
}
#content .default_playlist_list .title_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
#content .default_playlist_list .title_box h3 {
  font-weight: bolder;
  font-size: 20px;
}
#content .default_playlist_list .title_box button {
  background-color: transparent;
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
#content .default_playlist_list .title_box button i {
  margin-left: 3px;
}
#content .default_playlist_list .items ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
#content .default_playlist_list .items ul li.item + li.item {
  margin-left: 24px;
}
#content .default_playlist_list .playlist_avatar {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}
#content .default_playlist_list .playlist_avatar img {
  width: 100%;
  transition: transform 0.7s;
  height: auto;
  opacity: 0.9;
  border-radius: 5px;
}
#content .default_playlist_list .playlist_avatar:hover .interact {
  display: flex;
}
#content .default_playlist_list .playlist_avatar:hover img {
  transform: scale(1.1);
}
#content .default_playlist_list .playlist_avatar .interact {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#content .default_playlist_list .playlist_avatar .interact i {
  font-size: 20px;
  font-weight: 300;
}
#content .default_playlist_list .playlist_avatar .interact i.play-icon {
  font-size: 45px;
  margin: 0 20px;
  font-weight: 200;
}
#content .default_playlist_list .playlist_name {
  margin-top: 12px;
}
#content .default_playlist_list .playlist_name h4 {
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
}
#content .default_playlist_list .playlist_name a:hover h4 {
  color: var(--link-text-hover);
}
#content .home_recent .items ul li {
  max-width: calc(100%/7 - 20px);
}
#content .home_recent .playlist_avatar {
  max-height: 200px;
}
#content .normal_playlist_list .items ul li {
  max-width: calc(100%/5 - 20px);
}

@media only screen and (max-width: 1134px) {
  #content {
    padding: 35px 29px !important;
  }
}

/*# sourceMappingURL=content.css.map */
