#control_player_container {

    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: var(--control_player_height);
    padding: 0 20px;
    border-top: 1px solid var(--border-player);
    background-color: #ffdb00;
    background-color: var(--player-bg);
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .player_control_left {
        height: 100%;
        flex: 0.7;
        .media {
            display: flex;
            align-items: center;
            height: 100%;
        }
        .media_left {
            width: 64px;
            height: 64px;
            overflow: hidden;
            display: flex;
            align-items: center;
            margin-right: 10px;
            img {
                height: 64px;
                width: auto;
            }
        }

        .media_infor {
            display: flex;
            flex-direction: column;
            span {

            }

            a {
                color: var(--text-secondary);
                font-size: 12px;
            }
            a:hover {
                color: var(--link-text-hover);
                text-decoration: underline;
            }
        }
    }


    .player_control_center {
        display: flex;
        flex: 1;
        max-width: 752px;
        justify-content: center;
        flex-direction: column;
        max-width: 40vw;
        
        .box_btn_control {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;

            button {
                padding: 3px;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 7px;
                background-color: transparent;
                border-radius: 50%;
                cursor: pointer;
                &:hover {
                    background-color: hsla(0, 0%, 100%, .1);
                }
            }
        
            i {
                color: var(--white);
                font-size: 16px;
                font-weight: 300;
            }

            button.play-btn, button.pauce-btn {
                &:hover {
                    background-color: transparent !important;
                }
            }
    
    
            i.play {
                font-size: 38px;
                font-weight: 200;
                &:hover {
                    color: var(--link-text-hover);
                }
            }
        }

        .timmer {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 12px;
            }
            
            div {
                height: 4px;
                margin: 0 10px;
                border-radius: 8px;
                background-color: var(--white);
                flex: 1;
            }
        }
    }

    .player_control_right {
        display: flex;
        flex: 0.7;
        flex-direction: row;
        align-items: center;
        justify-content: right;

        button {
            padding: 3px;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 2px;
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: hsla(0, 0%, 100%, .1);
            }
        }
    
        i {
            color: var(--white);
            font-size: 16px;
            font-weight: 300;
        }

        span.volume {
            width: 70px;
            height: 4px;
            cursor: pointer;
            background-color: var(--white);
            border-radius: 4px;
        }

        span.line {
            height: 33px;
            width: 1px;
            background-color: var(--border-player);
            margin: 0 20px;
        }
        button:last-child {
            margin: 0;
            border-radius: 4px;
            border: 1px solid transparent;
            line-height: 30px;
            background-color: hsla(0, 0%, 100%, .1);
        }
    }
}