#control_player_container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 90px;
  padding: 0 20px;
  border-top: 1px solid var(--border-player);
  background-color: #ffdb00;
  background-color: var(--player-bg);
}
#control_player_container .wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#control_player_container .player_control_left {
  height: 100%;
  flex: 0.7;
}
#control_player_container .player_control_left .media {
  display: flex;
  align-items: center;
  height: 100%;
}
#control_player_container .player_control_left .media_left {
  width: 64px;
  height: 64px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#control_player_container .player_control_left .media_left img {
  height: 64px;
  width: auto;
}
#control_player_container .player_control_left .media_infor {
  display: flex;
  flex-direction: column;
}
#control_player_container .player_control_left .media_infor a {
  color: var(--text-secondary);
  font-size: 12px;
}
#control_player_container .player_control_left .media_infor a:hover {
  color: var(--link-text-hover);
  text-decoration: underline;
}
#control_player_container .player_control_center {
  display: flex;
  flex: 1;
  max-width: 752px;
  justify-content: center;
  flex-direction: column;
  max-width: 40vw;
}
#control_player_container .player_control_center .box_btn_control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#control_player_container .player_control_center .box_btn_control button {
  padding: 3px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
#control_player_container .player_control_center .box_btn_control button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#control_player_container .player_control_center .box_btn_control i {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
}
#control_player_container .player_control_center .box_btn_control button.play-btn:hover, #control_player_container .player_control_center .box_btn_control button.pauce-btn:hover {
  background-color: transparent !important;
}
#control_player_container .player_control_center .box_btn_control i.play {
  font-size: 38px;
  font-weight: 200;
}
#control_player_container .player_control_center .box_btn_control i.play:hover {
  color: var(--link-text-hover);
}
#control_player_container .player_control_center .timmer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#control_player_container .player_control_center .timmer span {
  font-size: 12px;
}
#control_player_container .player_control_center .timmer div {
  height: 4px;
  margin: 0 10px;
  border-radius: 8px;
  background-color: var(--white);
  flex: 1;
}
#control_player_container .player_control_right {
  display: flex;
  flex: 0.7;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
#control_player_container .player_control_right button {
  padding: 3px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
#control_player_container .player_control_right button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#control_player_container .player_control_right i {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
}
#control_player_container .player_control_right span.volume {
  width: 70px;
  height: 4px;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 4px;
}
#control_player_container .player_control_right span.line {
  height: 33px;
  width: 1px;
  background-color: var(--border-player);
  margin: 0 20px;
}
#control_player_container .player_control_right button:last-child {
  margin: 0;
  border-radius: 4px;
  border: 1px solid transparent;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=playerControl.css.map */
