.default_btn {
    //dat bien
    --purple-primary: #9b4de0;
    
    line-height: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 100px;
    i {
        padding: 4px;
    }
}

.primary_btn {
    background-color: var(--purple-primary);
    color: var(--white);
    i {
        color: var(--white);
    }
}

.second_btn {
    color: var(--link-text-hover);
    background-color: var(--alpha-bg);
    i {
        color: var(--link-text-hover);
    }
}